.header-container {
  height: 60px;
}

.wrapper-container {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
.left-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
}
.center-wrapper {
  flex: 1;
  text-align: center;
}
.right-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.menu-items {
  display: flex;
  align-items: center;
  margin-left: 25px;
}
.menu-items h3 {
  margin: 0 35px;
}

.search-container {
  border: 0.5px solid lightgray;
  margin-left: 25px;
  padding: 5px;
  display: flex;
}
.search-container > input {
  border: none;
}
.menu-items > h3 {
  cursor: pointer;
}
